---
import BaseLayout from '../layouts/BaseLayout.astro';
import AboutHero from '../components/AboutHero.astro';
---

<BaseLayout title="About | F Cary Snyder" description="About F Cary Snyder">
	<div class="stack">
		<AboutHero
			title="About me"
			
		>
			<img
				class="about-img-1"
				src="/assets/about/img-1.jpg"
				alt="F Cary Snyder"
			/>
			<img
				class="about-img-2"
				src="/assets/about/img-2.jpg"
				alt="F Cary Snyder"
			/>
			<img
				class="about-img-3"
				src="/assets/about/img-3.jpg"
				alt="F Cary Snyder"
			/>
			<img
				class="about-img-4"
				src="/assets/about/img-4.jpg"
				alt="F Cary Snyder"
			/>
			<img
				class="about-img-5"
				src="/assets/about/img-5.jpg"
				alt="F Cary Snyder"
			/>
		</AboutHero>
		<main class="wrapper about">
			<section>
				<h2 class="section-title">Background</h2>
				<div class="content">
					<p>
						Seriously - my name is really the letter "F" but you can call me Cary.
					</p>
					<p>
						I was born in San Francisco and raised in Oakland, CA to an interior designer mom and a
						network engineer dad. Courtesy of my dad, I always had access to a computer. I was
						making posters, graphics, and tweaking myspace pages since middle school. I didn't know
						it yet, but I was learning valuable skills that I'd capitalize on later.
					</p>
					<p>
						Now I live in Santa Barbara. I've lived here for almost 10 years over 2 stints.
					</p>
					<p>
						When I graduated from college, I travelled around South America for 5+ months and fell
						in love with photography. Since then, I've taken my cameras on all my travels - John
						Muir Trail, to the ruins of Machu Picchu, the tip of Patagonia, the dunes of Colorado
						and more. I try to bring my camera with me whenever I can.
					</p>
					<p>
						I've always been a massive fan of riding bikes. I have completed multiple centuries,
						and have a goal of riding from Stockholm, Sweden to Oslo Norway. Cycling is such a
						passion for me that my wife and I honeymooned at a bike hotel in Lake Garda, Italy.
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Skills</h2>
				<div class="content">
					<ul>
						<li>Product design</li>
						<li>UI/UX design</li>
						<li>Visual design</li>
						<li>Web design</li>
						<li>Brand design</li>
						<li>Email design</li>
						<li>AI web development / Cursor</li>
						<li>Competitive analysis</li>
						<li>Rapid prototyping</li>
						<li>Wireframes, mockups, and prototypes</li>
						<li>Agile/scrum</li>
						<li>Frontend development</li>
						<li>Backend development</li>
						<li>Database design</li>
						<li>Front end development</li>
						<li>Project management</li>
						<li>Copywriting</li>
					</ul>
				</div>
			</section>
		</main>
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	:global(.about-img-1:hover) {
		cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewport="0 0 100 100" style="fill:black;font-size:24px;"><text y="50%">👋</text></svg>'),
			auto;
	}
	:global(.about-img-2:hover) {
		cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewport="0 0 100 100" style="fill:black;font-size:24px;"><text y="50%">🐣</text></svg>'),
			auto;
	}
	:global(.about-img-3:hover) {
		cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewport="0 0 100 100" style="fill:black;font-size:24px;"><text y="50%">🇮🇹</text></svg>'),
			auto;
	}
	:global(.about-img-4:hover) {
		cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewport="0 0 100 100" style="fill:black;font-size:24px;"><text y="50%">🚲</text></svg>'),
			auto;
	}
	:global(.about-img-5:hover) {
		cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewport="0 0 100 100" style="fill:black;font-size:24px;"><text y="50%">🕺</text></svg>'),
			auto;
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content p + p {
		margin-top: 1.5em;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 60em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
