---
// Layout import — provides basic page elements: <head>, <nav>, <footer> etc.
import BaseLayout from '../layouts/BaseLayout.astro';

// Component Imports
import Hero from '../components/Hero.astro';
import HeroTyper from '../components/HeroTyper';

const title = "Hi, I'm F Cary Snyder";
---

<BaseLayout title={title} useAnimatedBackground={true}>
	<div class="stack full-height-container">
		<div class="hero-wrapper">
			<header class="hero wrapper">
				<img
					alt="Headshot of F Cary Snyder"
					width="480"
					height="620"
					src="/assets/headshot.jpg"
					class="headshot"
				/>
				<Hero align="start" button={false}>
					<HeroTyper 
						client:load
						title="Hi, I'm F Cary Snyder"
						taglinePart1="I am a multi-disciplinary product designer based in Santa Barbara, CA. I'm committed to developing aesthetically pleasing and user-friendly digital products, websites, and mobile applications. Currently, I design software aimed at energy conservation for "
						linkText="CrossnoKaye."
						linkUrl="https://crossnokaye.com"
					/>
				</Hero>
			</header>
		</div>
	</div>
</BaseLayout>

<style>
	:root {
		--icon-color: var(--gray-200);
	}

	:root.theme-dark {
		--icon-color: var(--gray-200);
	}

	.full-height-container {
		flex: 1;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	.hero-wrapper {
		width: 100%;
		max-width: 100%;
		padding: 0;
		position: relative;
	}

	.hero {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 1rem;
		width: 100%;
	}

	.hero p {
		font-size: 1.5rem;
		line-height: 2rem;
	}
	
	.roles {
		display: none;
	}

	.hero img.headshot {
		width: 240px;
		height: 320px;
		border-radius: 20px;
		object-fit: cover;
		object-position: top;
	}

	/* Small screen layout - headshot next to title */
	@media (max-width: 59.99em) {
		.hero {
			flex-direction: column;
		}
		
		.hero img.headshot {
			display: none;
		}
		
		.hero > :global(.hero) {
			flex: 1;
			width: 100%;
		}
		
		.hero > :global(.hero .title) {
			display: inline;
			margin: 0;
		}
	}

	@media (min-width: 60em) {
		.hero {
			display: grid;
			grid-template-columns: 1fr 3fr;
			gap: 2rem;
            align-items: center; /* Center vertically */
		}

		.roles {
			margin-top: 0.5rem;
			display: flex;
			gap: 0.5rem;
		}

		.hero img.headshot {
			min-width: 300px;
			width: 300px;
			height: auto;
			max-height: 70vh; /* Limit height to 70% of viewport to prevent scroll */
			aspect-ratio: 3 / 4;
			border-radius: 20px;
			object-fit: cover;
		}
	}
</style>
