---
import Icon from './Icon.astro';
const currentYear = new Date().getFullYear();
---

<footer>
	<div class="group">
		<p class="footer-text">
			Designed & developed in Santa Barbara, CA
		</p>
	</div>
	<div class="socials">
		<p class="socials-label">@fcarysnyder on</p>
		<a href="https://twitter.com/fcarysnyder"> Twitter</a>
		<p>·</p>
		<a href="https://linkedin.com/in/fcarysnyder"> LinkedIn</a>
		<p>·</p>
		<a href="https://instagram.com/fcarysnyder"> Instagram</a>
		<p>·</p>
		<a href="https://github.com/fcarysnyder">Github</a>
	</div>
</footer>
<style>
	footer {
		display: flex;
		color: var(--gray-400);
		flex-direction: column;
		gap: 3rem;
		margin-top: auto;
		padding: 3rem 2rem;
		text-align: center;
		font-size: var(--text-sm);
		max-width: 1280px;
		margin-left: auto;
		margin-right: auto;
		width: 100%;
		font-family: var(--font-mono);
	}

	footer a {
		color: var(--gray-400);
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
		color: var(--accent-regular) !important;
	}

	footer a:hover, footer a:focus {
		text-decoration-color: var(--accent-dark);
		color: var(--accent-dark) !important;
	}

	.group {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
	}

	.footer-text {
		font-size: var(--text-sm);
		color: var(--gray-400);
		text-transform: uppercase;
	}

	.socials {
		display: flex;
		justify-content: center;
		gap: .75rem;
		flex-wrap: wrap;
		text-transform: uppercase;

	}

	.socials-label {
		font-size: var(--text-sm);
		color: var(--gray-400);
		text-transform: uppercase;

	}

	@media (min-width: 60em) {
		footer {
			flex-direction: row;
			justify-content: space-between;
			padding: 2.5rem 2rem;
		}

		.group {
			flex-direction: row;
			gap: 1rem;
			flex-wrap: wrap;
		}

		.socials {
			justify-content: flex-end;
		}
	}
</style>
