---
import Icon from './Icon.astro';

interface Props {
	title?: string;
	align?: 'start' | 'center';
	button?: boolean;
}

const { align = 'center', title, button = true } = Astro.props;
---

<div class:list={['hero stack gap-2', align]}>
	<div class="stack gap-2">
		{title && <h1 class="title">
			<slot name="title">{title}</slot>
		</h1>}
		{Astro.slots.has('tagline') && <p class="tagline">
			<slot name="tagline" />
		</p>}
		<slot />
		{button && <a href="mailto:fcarysnyder@gmail.com?subject=Saw%20your%20website!" class="button">Drop me a line <Icon icon="arrow-right"/></a>}
	</div>
</div>

<style>
	.hero {
		font-size: var(--text-lg);
		width: 100%;
	}

	.title, :global(.hero .title) {
		max-width: 37ch;
		font-size: var(--text-2xl);
		color: var(--gray-0);
	}

	.start {
		text-align: start;
	}

	.center {
		text-align: center;
	}

	.center .title,
	.center :global(.title),
	.center .tagline,
	.center :global(.tagline) {
		margin-inline: auto;
	}

	.tagline, :global(.hero .tagline) {
		font-size: 1.5rem; /* 24px */
		line-height: 2rem; /* 32px */
		width: 100%;
	}

	:global(.company-link) {
		color: var(--accent-regular);
		text-decoration: none;
		transition: color 0.2s ease;
	}
	
	:global(.company-link:hover) {
		color: var(--accent-dark);
	}

	@media (min-width: 60em) {
		.hero {
			font-size: var(--text-2xl);
		}

		.start {
			text-align: start;
			align-self: center;
		}

		.start .title,
		.start :global(.title),
		.start .tagline,
		.start :global(.tagline) {
			margin-inline: unset;
		}

		.title, :global(.hero .title) {
			font-size: var(--text-3xl);
		}
	}
</style>
