---
interface Props {
	label: string;
	filterId?: string;
}

const { label, filterId } = Astro.props;
const hasFilters = Astro.slots.has('filters');
---

<div class="section-header">
	<div class="header-content">
		<slot name="icon" />
		<h3>{label}</h3>
		{hasFilters && (
			<div class="filter-options" id={filterId}>
				<slot name="filters" />
			</div>
		)}
	</div>
</div>

<style>
	.section-header {
		font-size: var(--text-lg);
		width: 100%;
	}

	.header-content {
		display: flex;
		align-items: center;
		gap: 8px;
		height: 38px;
		padding-bottom: 8px;
		box-sizing: border-box;
		border-bottom: 1px solid var(--gray-200);
		color: var(--gray-200);
		width: 100%;
	}

	.header-content :global(svg) {
		flex-shrink: 0;
	}

	h3 {
		font-size: var(--text-sm);
		text-transform: uppercase;
		color: var(--gray-200);
		margin: 0;
	}

	.filter-options {
		display: flex;
		align-items: center;
		gap: 8px;
		margin-left: auto;
	}

	.filter-options :global(.filter-dot) {
		color: var(--gray-400);
	}

	.filter-options :global(.filter-option) {
		font-size: var(--text-sm);
		font-family: var(--font-body);
		text-transform: uppercase;
		text-decoration: none;
		color: var(--gray-400);
		background: none;
		border: none;
		padding: 0;
		cursor: pointer;
		transition: color var(--theme-transition);
	}

	.filter-options :global(.filter-option:hover),
	.filter-options :global(.filter-option:focus),
	.filter-options :global(.filter-option.active) {
		color: var(--accent-regular);
	}
</style>
